body {
    margin-left: 100px;
    padding-right: 100px;
    background-color: rgb(128, 231, 205);
}

.box {
    border-style: solid;
    border-color: rgb(35, 12, 92);
    border-radius: 20px;
    padding: 10px 20px;
    border-width: 3px;
    background-color: rgb(202, 243, 106);
}   

body {
    font-family: sans-serif;
}